.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
.directory
.directory
data/*
debug.R
NCC-workshop-manual.Rmd
NCC-workshop-manual.R
NCC-workshop-manual-teaching.Rmd
NCC-workshop-manual_files
NCC-workshop-manual-teaching_files
Rplots.pdf
NCC-workshop-manual_cache
